.workList,.resgisterList{
    color:black !important;
    background-color: mediumslateblue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 7px;
}
.eventInputBox{
    width: 350px;
    height: 40px;
    border-radius: 10px;
    outline: none;
}
#description{
    width: 350px;
    height: 100px;
    border-radius: 10px;
    outline: none;
}
.shadow{
    box-shadow: 5px 5px 10px gray;
}
.addEventBtn{
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
}
.addEventBtn:active{
    outline: none;
}